.breakfast-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.breakfast-meal{
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(189, 189, 189);
}
.breakfast-meal:hover{
    box-shadow: 7px 7px 30px rgb(165, 165, 165);
}